<form [formGroup]="form" (ngSubmit)="searchWeather()">
<mat-form-field appearance="outline" class="form-field">
  <mat-label>City</mat-label>
  <input type="text" matInput placeholder="city" formControlName="city">
  <mat-hint align="end">Please specify the city</mat-hint>
</mat-form-field>
<div class="button-bar">
  <br>
  <button type="submit" mat-raised-button color="primary">
    <mat-icon>search</mat-icon> Get
  </button> &nbsp;
  <button type="submit" mat-raised-button color="primary" (click)="resetForm()">
    <mat-icon>delete</mat-icon> Clear
  </button>
</div>
</form>
<br>
<mat-divider></mat-divider>
<mat-card *ngIf="model.temp" class="example-card">
  <mat-card-header>
    <mat-card-title>{{ city }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <p>
      Temperature: <span>{{ model.temp - 273.15 | number }}</span>
    </p>
    <p>
      Pressure: <span>{{ model.pressure | number }}</span>
    </p>
    <p>
      Humidity: <span>{{ model.humidity | number }}</span>
    </p>
    <p>
      Remarks: <span>{{ model.description }}</span>
    </p>
    <p>
      Wind Speed & Degree: <span>{{ model.windSpeed }} - {{ model.windDegree }}</span>
    </p>
  </mat-card-content>
</mat-card>
